{% extends "layout.html" %}
{% block content %}

<div class = "jumbo">
    <h2>To add Players enter details below</h2>
    <div>
    <form action="/add" method="POST" enctype="multipart/form-data">
      <input type="text" id="name" name="name">
      <input action="/add" type="submit" value="Submit">
      <br>
    </form>
    </div>
    <div>
        <table id = "player-table">
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
        {% for player in players %}
        <tr>
            <th>{{ player.name }}</th>
            <th>{{ player.score }}</th>
        </tr>
        {% endfor %}
        </table>
    </div>
    <form action="/scoreboard" method="POST" enctype="multipart/form-data">    
        <input action="/scoreboard" type="submit" value="Winner">
    </form>
</div>
{% endblock %}