{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">

      <h1>Here are your graphs</h1>
      <hr>

      <form action="/display-graph" method="GET" enctype="multipart/form-data">

        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="file1" id="file">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}