{% extends "layout.html" %}
{% block content %}
<div class = "jumbo">
    <h2>How to use our app</h2>
    <h3>1. Request your data from snapchat.</h3>
    <h4>Visit the snapchat website by clicking <a href= https://accounts.snapchat.com target="_blank">https://accounts.snapchat.com</a></h4>
    <h4>Log in using your account details</h4>
    <h4>Select "My Data"</h4>
    <h4>Submit request</h4>
    <h3>2. Wait for your data to be sent to you. This normally takes up to 1 hour.</h3>
    <h4>When your data arrives, click the link in the email.</h4>
    <h4>Then click the download link. e.g. "mydata~29473852947.zip"</h4>
    <h4>In your files, go to Downloads > mydata_29473852947.zip > "Extract All"</h4>
    <h3>3. Navigate to our "Upload" page.</h3>
    <h3>4. Upload the file titled "snap_history.json" or "chat_history.json"</h3>
    <h4>This will now be in Downloads > mydata_29473852947 > json > snap_history</h4>
    <h3>5. Choose which graph you would like to create from the drop down menu.</h3>
    <h3>6. To save, right click on the graph. Then go back to return to the upload page.</h3>
    <h4> Please be aware we only currently support analysis of "snap_history.json" and "chat_history.json" files but we are working to expand our capabilities.</h4>
</div>
{% endblock %}
